body {
    background-color: hsl(30, 38%, 92%);
}
#grid {
    display: grid;
    grid-template-columns: 50% 50% ;
    height: fit-content;
    width: 40%;
    margin: 5% 10% 5% 20%;
    min-width: fit-content;
    
}
figure {
    background-image: url(./images/image-product-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px 0px 0px 20px;
    width: 100%;
    height: 100%;
    align-self: center;
    justify-self:center;

}
#main{
    background-color: aliceblue;
    border-radius: 0px 20px 20px 0px;
    grid-auto-rows: 1fr;
    padding-bottom: 20%;
}
    
#text {
    padding: 5%;
}

h1 {
font-size: 20px;
font-weight:100;
color: rgb(160, 158, 158);
font-family: Arial, Helvetica, sans-serif;
letter-spacing: 1em;
}
h2 {
    font-weight: 700;
    font-size: 50px;
   font-family: 'Times New Roman', Times, serif;

}
p {
    color: grey;
    font-weight: lighter;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

#sale {
    padding-left: 5%;
    color: hsl(158, 36%, 37%);
    font-size: 50px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    float:left;
}
#old {
    
    padding-right: 30%;
    margin-top:5% ;
    color: gray;
    text-decoration: line-through;
    font-size: 14px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
}
button {
    height: 10%;
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    background-color: hsl(158, 36%, 37%);
    color:aliceblue ;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
   letter-spacing: 0.15em;
   border-radius: 15px;
   border: none;
}
button:hover {
    background-color: hsl(157, 38%, 18%) ;
}
/*MEDIA QUERRIES*/
@media (max-width: 600px){
    #grid {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 40% 60%;
        height: fit-content;
       width:auto;
        margin: 0;
}
figure {
    background-image: url(./images/image-product-mobile.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 250px;
    max-height: 400px;
    border-radius: 20px 20px 0px 0px;}
    
    #main{
        background-color: aliceblue;
        border-radius: 0px 0px 20px 20px;
        grid-auto-rows: 1fr;
        padding-bottom: 30%;
        margin-top: -10%;
    }
    #text {
        padding: 5%;
    }

}
